/* You can add global styles to this file, and also import other style files */


.loading {
    font-weight: bold;
    margin-top: 150px;
}

.logo {
    margin: 5px;
}

#back
{

  background-image:url("bg.jpg");
  background-repeat: no-repeat;

}
